.market__container {
    /* justify-self: center; */
    width:100%;
}

.market__pictures {
    justify-self: center;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    /* grid-column-gap: 2rem; */
    grid-row-gap: 2rem;  
    justify-content: center;
    margin-left: 1rem;
    margin-right: 1rem
}

.market__pictures-1 {
    justify-self: center;
    object-fit: contain;
   max-width: 90%;
}