.verify {
    align-self: center;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    height: 75vh;
    width: 100vw;
}

.verify__text {
    font-size: 1.5rem;
    font-weight: 700;
}

.verify__button {
    height: 4rem;
    width: 20rem;
    border-radius: 2rem;
    background-image: linear-gradient(99deg, #1881c3, #33bde8);
    color: #fff;
}