.stats {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.stats__photo {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 10rem;
    grid-template-areas: "img info";
    width: 80vw;
    justify-self: center;
}

.stats__photo--img {
    grid-area: img;
    height: 100%;
    justify-self: center;
}

.stats__photo--info {
    grid-area: info;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr) 2fr;
    grid-template-areas: "title"
                        "creator"
                        "description"
                        "stats"
                        "buttons";
    width: 100%;
}

.stats__photo--info--title {
    grid-area: title;
}

.stats__photo--info--creator {
    grid-area: creator;
}

.stats__photo--info--description {
    grid-area: description;
}

.stats__photo--info--stats {
    grid-area: stats;
    justify-self: flex-start;
    display: flex;
    justify-content: space-between;
}

.stats__photo--info--users {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.people-icon {
    height: 1.2rem;
}

.stats__photo--info--price {
    justify-self: center;
    align-self: center;
    margin-left: .5rem;
}

.stats__photo--info--buttons {
    grid-area: buttons;
    justify-self: flex-end;
}

.stats__photo--info--button1 {
    height: 95%;
    width: 10rem;
    border: solid .2rem #1881c3;
    border-radius: 3rem;
}

.stats__photo--info--button2 {
    height: 95%;
    width: 10rem;
    background-image: linear-gradient(106deg, #1881c3, #33bde8);
    border-radius: 3rem;
    color: white;
}

.Rectangle {
    width: 60%;
    height: 91px;
    box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.15), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 1rem;
    margin-left: 18%;
}

.March-1st-2019-120 {
    height: 41px;
    font-family: Avenir;
    font-size: 1rem;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
    padding: 1rem;
    margin-top: 1rem;
    overflow: scroll;
}

.Los-Angeles-CA {
    width: 230px;
    height: 41px;
    font-family: Avenir;
    font-size: 1rem;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
    padding: 1rem;
    margin-top: 1rem;
}

.stats__users {
    font-size: 1.4rem;
    padding-left: 1rem;
    margin-top: 5rem;
    align-self: flex-start;
}

.flags {
    padding-left: 2rem;
    padding-top: .6rem;
}

.receipt {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    place-items: center;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 5;
}

.receipt__img {
    display: none;
    position: fixed;
    top: 20%;
    left: 30%;
    height: 40rem;
    width: auto;
}